body {
    font-family: tahoma;
    color:#854a4a;
    margin: 0px;
    background-color:  rgb(235, 252, 255);
  }

  .text {
  
  background: rgb(235, 252, 255);
  text-shadow: 1px 0px 1px rgb(189, 189, 189), 0px 1px 1px rgb(212, 212, 212), 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  color: #444444;
  margin: 10px;
  float: right;

  }

  .product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
  }

  img {
    border: 2px solid #e1deff;
    width: 100%;
    position: relative;
    left: 10%;
    box-shadow: 1px .5px 1px #a2ffff;
    float: left;
    margin: 5px;    
  }

  img.face{
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}
  
  .product-image {
    width: 80%;
    position: relative;
    left: 0%;
  }
  
  .product-image,
  .product-info {
    margin-top: 10px;
    width: 50%;
  }
  
  button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(161, 13, 33);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

 .button1 {
  background-color: rgb(63, 153, 66);
  color: rgb(151, 255, 191);
  border: 2px solid rgb(74, 156, 77);
}

  .button1:hover {  
  background-color: rgb(255, 255, 255); 
  color:  rgb(121, 53, 248);
}
    
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    width: 100%;
    display: inline-table;
    text-align: center;
    font-family: sans-serif;
  }
  
  ul li{
    display: inline-block;
    float: none;
    }

  li {
    float: left;
  }
  
  li a {
    border: none;
    color: rgb(168, 255, 226);
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  li a:hover {
    background-color:  rgb(235, 252, 255);
    color:  rgb(158, 133, 206);
    text-decoration: none;
    text-align: center;
  }

    .nav-bar {
    background: linear-gradient(-90deg, rgb(104, 114, 255), rgb(74, 167, 204), rgb(213, 190, 255));
    height: 60px;
    margin-bottom: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  #app {
    padding-top: 100px;
    z-index: 0;
  }
